html,body{
    height: 100%;
    width: 100%;
}
.button{
    width: 66px;
    padding: 13px;
    margin: 0px 3px;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
}
.row{
    margin: 8px 0px;

}
.row input{
   margin: 0;
   width: 270px;
   padding: 13px 18px;
   border: 2px solid black;
   border-radius: 6px;
   font-size: 12px;
}  
.footer{
 text-align:center;
 color:red;
 text-indent: 40px;
 text-decoration-line: underline;
 text-decoration-color: rgb(43, 226, 67);
}